<ul class="categories">
  <li class="category">
    <a href="/category/delicatessen">Delicatessen</a>
  </li>
  <li class="category">
    <a href="/category/vegetarian">Vegetarian</a>
  </li>
  <li class="category">
    <a href="/category/eastern">Flavors of the Orient</a>
  </li>
</ul>
