<object class="sandwich-svg" type="image/svg+xml" data="img/sandwich.svg"></object>
<ul class="categories">
  <li class="category">
    <a href="/random">Random</a>
  </li>
  <li class="category">
    <a href="/create">Create Your Own</a>
  </li>
</ul>
<h3 class="featured">Featured Sandwich</h3>
<% settings.sandwiches.random.tap do |rand| %>
  <a class="featured-sandwich" href="/sandwich/<%= rand.slug %>"><%= rand.name %></a>
<% end %>
