<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta content="The Sandwich Genome Project" name="description">
  <title>The Sandwich Genome Project</title>
  <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css" rel="stylesheet" media="screen" />
  <link href="stylesheets/main.css" rel="stylesheet" media="screen" />
</head>
<body>
  <div class="contents">
    <h1 class="header">The Sandwich Genome Project</h1>
    <%= yield %>
  </div>
</body>
</html>
