<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta content="The Sandwich Genome Project" name="description">
  <title>The Sandwich Genome Project</title>
</head>
<body>
  <%= yield %>
</body>
</html>
