<article class="sandwich">
  <img class="sandwich-img" src="<%= @sandwich.image %>" alt="<%= @sandwich.name %>" />
  <div class="voting">
    <a class="vote like" href="#">
      <i class="fa fa-thumbs-up fa-2x"></i>
    </a>
    <h2 class="sandwich-name"><%= @sandwich.name %></h1>
    <a class="vote dislike" href="#">
      <i class="fa fa-thumbs-down fa-2x fa-flip-horizontal"></i>
    </a>
  </div>
</article>
