body {
  font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', arial, sans-serif;
  color: rgb(93,193,165);
  background-color: rgb(24,16,38)
}

a {
  text-decoration: none;
  color: rgb(93,193,165);
}

.header {
  font-size: 3em;
  text-align: center;
  .logo {
    display: block;
    color: rgb(218,217,219);
    letter-spacing: 1px;
    font-weight: bolder;
    font-style: italic;
    text-transform: uppercase;
  }
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sandwich {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .sandwich-img {
    max-height: 55vh;
    display: block;
    text-align: center;
  }
  .sandwich-name {
    color: rgb(218,217,219);
    font-weight: normal;
    font-size: 2em;
    margin: 0;
  }
  .ingredients-header {
    margin-bottom: 0;
  }
}

.voting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  .vote {
    margin: 0 1em;
    display: block;
    color: rgb(223,94,176);
    &:hover {
      color:rgb(163,88,126);
    }
  }
}

.featured {
  font-weight: normal;
}

.featured-sandwich {
  color:rgb(223,94,176);
  font-size: 2em;
  font-style: italic;
  &:hover {
    color:rgb(163,88,126);
  }
}

.categories {
  margin: 0;
  padding: 1em 0;
  list-style: none;
  text-align: center;
  border-bottom: 1px solid white;
  font-size: 1.4em;
  .category a {
    display: block;
    margin: 0.5em 0;
    font-style: italic;
    color: rgb(0,229,229);
  }
}

.footer {
  margin-top: 2em;
  font-size: small;
}
