body {
  font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', arial, sans-serif;
  color: #00e5e5;
  background-color: #181026;
  font-size: 18px; }

a {
  text-decoration: none;
  color: #5dc1a5; }

::selection {
  background-color: rgba(155, 139, 190, 0.5); }

.header {
  font-size: 3em;
  text-align: center; }
  .header .logo {
    display: block;
    color: #dad9db;
    letter-spacing: 1px;
    font-weight: bolder;
    font-style: italic;
    text-transform: uppercase; }

.contents {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }

.sandwich {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }
  .sandwich .sandwich-img {
    max-height: 55vh;
    display: block;
    text-align: center; }
  .sandwich .sandwich-name {
    color: #dad9db;
    font-weight: normal;
    font-size: 2.4em;
    margin: 0; }
  .sandwich .ingredients {
    font-size: 1.15em;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 9px;
    padding: 0.5em 2em;
    list-style: none; }
    .sandwich .ingredients .key {
      font-weight: 300;
      font-size: 0.75em; }
  .sandwich .description {
    max-width: 80%;
    font-size: 1.2em; }

.voting {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  margin: 1em 0; }
  .voting .vote {
    margin: 0 1em;
    display: block;
    color: #df5eb0; }
    .voting .vote:hover {
      color: #a3587e; }

.featured {
  font-weight: normal; }

.featured-sandwich {
  color: #df5eb0;
  font-size: 2em;
  font-style: italic; }
  .featured-sandwich:hover {
    color: #a3587e; }

.categories {
  margin: 0;
  padding: 1em 0;
  list-style: none;
  text-align: center;
  border-bottom: 1px solid white;
  font-size: 1.4em; }
  .categories .category a {
    display: block;
    margin: 0.5em 0;
    font-style: italic;
    color: #6dd490; }
    .categories .category a:hover {
      color: #5dc1a5; }

.sandwich-svg {
  width: 150px;
  height: 150px; }

.footer {
  margin: 2em 0;
  font-size: small;
  text-align: center; }

@media (max-width: 480px) {
  body {
    font-size: 12px; }

  .header {
    font-size: 2.5em; } }
